*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Bagel Fat One', system-ui;
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
}

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

nav{
    /* 부모 속성 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: white;
    color: #076e43;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
    /* 자신 속성 */
}
nav>ul>li>a{
    color: #076e43;
    font-family: 'EF_jejudoldam';
    font-size: 1.5rem;
    padding: 10px 5px;
    margin: 2.5px;
    text-decoration: none;
}
nav .logo{
    padding-left: 30px;
    font-size: 2rem;
    font-family: 'EF_jejudoldam';
}
nav ul{
    display: flex;
    align-items: center;
    
    margin-right: 10px;
    margin-bottom: 0;
}
nav>ul>li{
    /* 부모 속성 */

    /* 자신 속성 */
    margin: 0 10px;
    padding: 30px 10px;
    position: relative;
}
nav>ul>li:hover{
    background-color: #076e43;
    color: white;
    transition: all 0.3s;
}
nav>ul>li:hover>a{
    color: white;
    transition: all 0.3s;
}
nav ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    justify-content: start;
    padding-left: 0px;
    margin: 0 auto;
    background-color: #076e43;
    color: white;
    width: 100%;
    font-size: 0;
}
ul li ul li{
	font-size: 1rem;
    display: none;
    text-align: center;
    justify-content: start;
    padding: 0 10px;
    margin-bottom: 2px;
    width: 100%;
/*    position: relative;
    top: 100%;
    left: 0;*/
}
ul li ul li a{
	color: white;
	padding: 20px 60px;
}
ul li ul li a:hover{
	color:#f1c93b;
	transition: all 0.3s;
}

ul li:hover ul li{
    display: inline-block;
}
ul li ul li:hover{
    display: inline-block;
}

/*///////////////////////////////*/

.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
}
.nav1 a{
    color: #ffffff;
    font-family: 'EF_jejudoldam';
    font-size: 1.5rem;
    padding: 10px 5px;
    margin-left: 5px;
    margin: 2.5px;
    text-decoration: none;
}
.nav1 .logo{
    padding-left: 30px;
    font-size: 2rem;
    font-family: 'EF_jejudoldam';
}
.nav1 ul{
    display: flex;
    align-items: center;
    
    margin-right: 10px;
    margin-bottom: 0;
}
.nav1 li{
    margin: 0 10px;
    padding: 30px 10px;
    position: relative;
}
.nav1 li a:hover{
    color:#f1c93b;
    transition: all 0.3s;
}
/*.nav1 ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10 !important;
}*/
.nav1 ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    justify-content: start;
    padding-left: 0px;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    width: 100%;
    font-size: 0;
}
.nav1 ul li ul li{
	font-size: 1rem;
    display: none;
    position: relative;
    background-color: transparent;
    top: 100%;
    left: 0;
    height: 50px !important;
    z-index: 10 !important;
    text-align: center;
    justify-content: start;
    padding: 0 10px;
    margin-bottom: 2px;
    width: 100%;
}
.nav1 ul li ul li a{
    background-color: transparent;
    display: inline-block;
    height: 100%;
}

.nav1 ul li ul:hover li{
    display: inline-block;
}
.nav1 ul li ul li:hover{
    display: inline-block;
}
